{
  "log": {
    "_recordingName": "fetchMalwares",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "14a84418adafcde14c9315da66b768f6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"filters\":[{\"fieldName\":\"needsAttention\",\"operator\":\"Is\",\"values\":[true]}],\"sortingFieldName\":\"timestamp\",\"sortDirection\":\"DESC\",\"limit\":100,\"offset\":0}"
          },
          "queryString": [],
          "url": "https://integration.cybereason.net:8443/rest/malware/query"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          ],
          "headers": [
            {
              "name": "location",
              "value": "/login.html"
            }
          ],
          "status": 302,
          "statusText": "Found"
        },
        "time": 1030,
      },
      {
        "_id": "f5ba4e16dc633839943835ac35fccb82",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://integration.cybereason.net:8443/login.html"
        },
        "response": {
          "content": {
            "mimeType": "text/html",
     [...]
